<div fxFlex="100" class="Background-login">
    <div fxFlex="19">

    </div>
    <div fxFlex="62">
        <div class="size-div" fxFlex>
             <div fxFlex="38">
                <img class="Loginimg" src="./assets/images/LoginLeft.png">
             </div>
             <div fxFlex="62">
                  <div fxLayout="row" fxLayoutAlign="end" style="padding-top: 20px;padding-right: 22px;">
                      <span class="Powered">Powered By</span>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="end">
                      <img src="../assets/images/image (28).png" style="width: 6rem;padding-right: 22px;">
                  </div>
                  <div fxLayout="column" fxLayoutGap="15px" style="padding-top:7%;padding-left: 10%;padding-bottom: 6%;">
                       <div  fxLayout="row">
                           <span class="signin">Update</span>
                       </div>
                       <div  fxLayout="row">
                          <span class="signcontinue">Change Password</span>
                      </div>
                  </div>
                <form [formGroup]="LoginFormGroup">
                  <div fxLayout="column" fxLayoutGap="7px"  style="padding-left: 10%;">
                    <div fxLayout="row">
                        <span class="signcontinue">NewPassword</span>
                    </div>
                    <div fxLayout="row" style="padding-bottom: 3%;">
                        <mat-form-field fxFlex="90" class="form-field" appearance="outline" floatLabel="never">
                            <mat-label>Enter NewPassword</mat-label>
                            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="Newpassword" fxFlex>
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide passwords'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="LoginFormGroup.get('Newpassword').touched && LoginFormGroup.get('Newpassword').hasError('required') && LoginFormGroup.get('Newpassword').value == '' ">
                                NewPassword is required</mat-error>
                            <mat-error *ngIf="LoginFormGroup.get('Newpassword').invalid && LoginFormGroup.get('Newpassword').value != ''">
                                    Password must contain atleast 8 characters including one special character,lower and upper case</mat-error>
                        </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column" fxLayoutGap="7px"  style="padding-left: 10%;">
                    <div fxLayout="row">
                        <span class="signcontinue">Confirm Password</span>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="90" class="form-field" appearance="outline" floatLabel="never">
                            <mat-label>Please Enter Confirm Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="Confirmpassword" fxFlex>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="LoginFormGroup.get('Confirmpassword').touched && LoginFormGroup.get('Confirmpassword').hasError('required') && LoginFormGroup.get('Confirmpassword').value == '' ">
                                Confirm Password is required</mat-error>
                                <mat-error *ngIf="LoginFormGroup.get('Confirmpassword').invalid && LoginFormGroup.get('Confirmpassword').value != '' ">
                                    Password must contain atleast 8 characters including one special character,lower and upper case</mat-error>
                        </mat-form-field>
                    </div>
                  </div>
                </form>
                  <div fxLayout="row"  fxLayoutAlign="center" style="padding-top: 4%;">
                      <button class="loginbutton" mat-button (click)="Submit()">Submit</button>
                  </div>
             </div>
        </div>
    </div>
    <div fxFlex="19">

    </div>
</div>
