<div fxFlex="100" class="Background-login">
    <div fxFlex="19">

    </div>
    <div fxFlex="62">
        <div class="size-div" fxFlex>
             <div fxFlex="38">
                <img class="Loginimg" src="./assets/images/LoginLeft.png">
             </div>
             <div fxFlex="62">
                  <div fxLayout="row" fxLayoutAlign="end" style="padding-top: 20px;padding-right: 22px;">
                      <span class="Powered">Powered By</span>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="end">
                      <img src="../assets/images/image (28).png" style="width: 6rem;padding-right: 22px;">
                  </div>
                  <div fxLayout="row"  style="padding-top:7%;padding-left: 9%">
                           <mat-icon matRipple class="icon" (click)="backtologin()">arrow_back</mat-icon>
                  </div>
                  <div fxLayout="row" fxLayoutGap="15px" style="padding-left: 10%;padding-bottom: 6%;">
                    <span class="signcontinue">Forgot Password</span>
                  </div>
                  <div fxLayout="row" style="padding-left: 10%">
                      <span style="color: rgb(189, 206, 189);">Please enter your Email Id and we will send you a link</span>
                  </div>
                  <div fxLayout="row" style="padding-left: 10%;padding-bottom: 6%">
                      <span style="color: rgb(189, 206, 189);">mail to change your password</span>
                 </div>
            <!-- <form [formGroup]="ForgotPassword"> -->
                <div fxLayout="column" style="padding-left: 10%;padding-bottom: 4%;">
                       <div fxLayout="row">
                        <label>Email Id</label>
                       </div>
                       <div fxLayout="row">    
                        <mat-form-field fxFlex="90" class="form-field" appearance="outline" floatLabel="never">
                            <mat-label>Please Enter Email Id</mat-label>
                            <input matInput type="text" [formControl]="ForgotPassword" fxFlex required>
                            <mat-error *ngIf="ForgotPassword.hasError('required')">
                                Email Id is required to send the link.
                            </mat-error>
                        </mat-form-field>  
                      </div> 
                </div>
            <!-- </form> -->
                <div fxLayout="row"  fxLayoutAlign="center" style="padding-top: 4%;">
                      <button class="loginbutton" mat-button (click)="SendMail()">Submit</button>
                </div> 
             </div>
        </div>
    </div>
    <div fxFlex="19">

    </div>
</div>
