<div fxFlex="100" id="Background-login" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="57">
        <div class="size-div" fxFlex>
            <div fxFlex="40" class="Loginimg">
                <img src="./assets/images/loginimg.png">
            </div>
            <div fxFlex="60" class="LoginForm" fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="center end" class="Powered">
                    <span>Powered By</span>
                    <img src="../assets/images/image (28).png">
                </div>
                <div fxLayout="column" fxLayoutGap="15px" class="FormLogin">
                    <span class="signin">Sign In</span>
                    <span class="signcontinue">Sign In to Continue</span>
                </div>
                <form [formGroup]="LoginFormGroup" class="formgroup" fxLayout="column" fxLayoutGap="15px">
                    <div fxLayout="column" fxLayoutGap="2px">
                        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 90%;">
                            <span class="signcontinue">UserName</span>
                            <mat-error  @fade
                                *ngIf="LoginFormGroup.get('Username').touched && LoginFormGroup.get('Username').hasError('required')">
                                UserName is required
                            </mat-error>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field fxFlex="90" class="form-field" appearance="outline" floatLabel="never">
                                <mat-label>Enter UserName</mat-label>
                                <input matInput type="text" formControlName="Username" fxFlex>

                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutGap="2px">
                        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 90%;">
                            <span class="signcontinue">Password</span>
                            <mat-error @fade
                                *ngIf="LoginFormGroup.get('Password').touched && LoginFormGroup.get('Password').hasError('required')">
                                Password is required
                            </mat-error>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field fxFlex="90" class="form-field" appearance="outline" floatLabel="never">
                                <mat-label>Enter Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password" fxFlex>
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="forgotPwd" style="padding-right: 9%;">
                    <span matRipple class="forgot" (click)="SignUp()">Don't you have an account? Signup</span>
                    <span matRipple class="forgot" (click)="forgotpass()">Forgot Password ?</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" style="padding-top: 4%;">
                    <button class="loginbutton" mat-button (click)="SignIn()">Log in</button>
                </div>
            </div>
        </div>
    </div>
</div>