<div id="dataEnrich" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">

  <mat-card class="card" fxFlex="50" fxLayout="row">

    <div fxFlex="50" fxLayout="column">
      <p>Data Enrich</p>
      <span class="data1">Enter Your Project Name </span>
      <p class="data2">And Start Enrich</p>

      <mat-form-field class="mat_form_field" appearance="outline">
        <mat-label >Enter Your Project Name </mat-label>
        <input (ngModelChange)="filterItem($event)" autocomplete="off" [matAutocomplete]="auto"
          [formControl]="myControl1" matInput placeholder="Enter Your Project Name ">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of items" [value]="option.Name">
            {{option.Value}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon class="clickarrow" matSuffix (click)="routetode()">arrow_right_alt</mat-icon>
      </mat-form-field>

      <P class="release" (click)="routetoproject()">Or go to Projects & Release</P>
    </div>

    <div fxFlex="50">
      <img src="./assets/images/DataEnrich_project_img.svg"/>
    </div>

  </mat-card>

</div>