<div class="start2">
  <mat-card class="card">
    <div fxFlex>
      <div fxFlex="10" class="one"></div>
      <div fxFlex="35" class="two" fxLayout="column">
        <p class="data" style="font-family: poppins;letter-spacing: 0.5px;">Data Enrich</p>
        <span class="data1">Enter Your Project Name </span>
        <p class="data2">And Start Enrich</p>

        <mat-form-field appearance="outline" class="mat_form_field">
          <mat-label class="labelname" style="letter-spacing: 0.5px;">Enter Your Project Name </mat-label>
          <input (ngModelChange)="filterItem($event)" style="font-size: 12px;" autocomplete="off"
            [matAutocomplete]="auto" [formControl]="myControl1" matInput placeholder="Enter Your Project Name ">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of items" [value]="option.Name">
              {{option.Value}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon class="clickarrow" matSuffix (click)="routetode()">arrow_right_alt</mat-icon>
        </mat-form-field>
        <P class="release" (click)="routetoproject()">Or go to Projects & Release</P>
      </div>
      <div fxFlex="5" class="three"></div>
      <div fxFlex="40" class="four">
        <img class="img" src="./assets/images/DataEnrich_project_img.svg" style="width:100%" />
      </div>
      <div fxFlex="10" class="five"></div>
    </div>
  </mat-card>
</div>